
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutHome.cshtml";
}
@section Head{    @*head文件*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    alert("hello jquery");
        //});
    </script>
}
 
<div id="" class="" style="width: 1300px; height: 100%; background-color: #7bc5db; margin: 0px auto; ">
    <div style="height:2000px;"></div>
</div>

