
@{
    ViewBag.Title = "Myfriendlist";
    Layout = "~/Views/shared/_LayoutHome.cshtml";
}
@section Head{    @*head文件*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    //$(function () {
    //    alert("hello jquery");
    //});
</script>
}

<h2>Myfriendlist</h2>

