
@{
    ViewBag.Title = "Mymicrobolg";
    Layout = "~/Views/shared/_LayoutHome.cshtml";
}

@section Head{    @*head文件*@
<link href="~/Content/css/MymicrobolgStyle.css" rel="stylesheet" />
}

<div id="MyBody" class="" style="width: 1300px; height: 100%; border: 1px solid black; margin: 0px auto;">
    <div style="height: 2000px;">
       
        <div id="left">
            <div id="leftinfor">
                <ul>
                    <li><a href="#">342</a></li>
                    <li>关注</li>
                </ul>
                <ul>
                    <li><a href="#">183732983</a></li>
                    <li>粉丝</li>
                </ul>
                <ul style="border: none;">
                    <li><a href="#">453</a></li>
                    <li>微博</li>
                </ul>
            </div>
            <div id="leftlabel">
                <div class="leftwrite">
                    <p>个性标签</p>
                </div>
                <div id="leftlabeltext">
                    <span>笔芯啦啦</span><span>实力水吹</span>
                    <span>小仙女</span><span>铁杆粉丝</span>
                    <span>可爱</span><span>啦啦啦</span>
                    <span>可爱</span><span>实力水吹</span>
                    <span><a href="#">…</a></span>
                </div>
                <div id="leftadd">
                    <input type="text" class="addtext" /><input type="button" class="addbtn" value="添加" />
                </div>

            </div>
            <div id="leftLately">
                <div class="leftwrite">
                    <p>最近关注</p>
                </div>
                <ul>
                    <li title="最近关注用户1"><a href="#"></a></li>
                    <li title="最近关注用户2"><a href="#"></a></li>
                    <li title="最近关注用户2"><a href="#"></a></li>
                    <li title="最近关注用户2"><a href="#"></a></li>
                    <li title="最近关注用户2"><a href="#"></a></li>
                    <li title="最近关注用户2"><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div id="mindd">
            <div id="minddbar">
                <ul>
                    <li><a href="#">全部</a></li>
                    <li><a href="#">热门</a></li>
                    <li class="xiala">
                        <a href="#">更多</a>
                        <ul id="twobar">
                            <li><a href="#">原创</a></li>
                            <li><a href="#">图片</a></li>
                            <li><a href="#">视频</a></li>
                            <li><a href="#">音乐</a></li>
                        </ul>
                    </li>
                    <li class="mindsearch">
                        <input type="text" id="mindtxt" />
                        <input type="button" value="搜索" id="mindbtn" />
                    </li>
                </ul>
            </div>
            <div class="mindmicroblog">
                <div class="microblogtop">
                    <div class="tophadnimg">
                        <img src="~/Content/images/Mymicrobolg/handimgmax.jpg" />
                    </div>
                    <div class="topinfor">
                        <ul>
                            <li class="topname"><a href="#">现在我是喻文波的狗</a></li>
                            <li>
                                2019年5月31 12:35
                            <li>
                        </ul>
                    </div>
                    <div class="del">
                    </div>
                    <div class="twoinfor">
                        <ul>
                            <li><a href="#">删除</a></li>
                            <li><a href="#">编辑</a></li>
                            <li><a href="#">收藏</a></li>
                        </ul>
                    </div>
                </div>
                <div class="microblogmid"></div>
                <div class="microblogbtm"></div>
            </div>
        </div>

    </div>
</div>

